*:before, *:after {
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 22)
}

h2{
    color: rgb(235, 250, 248);

}
.average{
    color: rgb(148, 243, 228);
}
.count{
    color: rgb(55, 170, 156);
}

.hidden{
    display: none;
}

.logo{
    color: rgb(55, 170, 156);
    margin: auto;
    margin-top: 50px;
    text-align: center;

}

.search{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}

#search-input{
    background: none;
    color: white;
}

.movies-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.movie-card{
    padding: 2px;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    background-color: rgb(24, 30, 32);
    transition: width 0.1s;
}

.movie-card:hover{
    width: 92%;
}

.movie-poster{
    margin: auto;
    padding: 10px;
    width: 90%;
    opacity: 1;
    transition: opacity 0.1s;
}

.movie-poster:hover {
    opacity: 0.6;

}

.movie.title{
    padding: 3px;
    overflow: auto;
}

.more{
    margin: auto;
    text-align: center;
}


  @media only screen and (min-width: 576px) {
    .movies-grid{
        grid-template-columns: 1fr;
    }
  }
  @media only screen and (min-width: 768px) {
    .movies-grid{
        grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 992px) {
    .movies-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media only screen and (min-width: 1200px) {
    .movies-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
